{% extends 'base.html.twig' %}

{% block title %}Vente | Garage{% endblock %}

{% block body %}

<h1 class="mb-20">Notre showroom</h1>
<p class="mb-30">
    Découvrez toutes nos voitures disponibles à la vente. Cliquez sur une voiture pour voir ses détails.
</p>

<div class="d-flex flex-row-wrap justify-content-start">

    {% for voiture in voitures %}
        <div class="block block-shadow m-10" style="width: 300px;">
            {# Image de couverture #}
            {% if voiture.imageCouverture %}
                <img
                    src="{{ voiture.imageCouverture }}"
                    alt="{{ voiture.marque }} {{ voiture.modele }}"
                    style="width:100%; border-radius: var(--border-radius); margin-bottom:10px;"
                >
            {% else %}
                <div
                    style="width:100%; height:180px; background-color: var(--gray-light);
                    border-radius: var(--border-radius);
                    display:flex; align-items:center; justify-content:center;">
                    <span>Aucune image</span>
                </div>
            {% endif %}

            <h3 class="mb-5"><small>Marque :{{ voiture.marque }}</small></h3>
            <h3 class="mb-5"> <small>Modele : {{ voiture.modele }}</small></h3>
            <p class="mb-20">
                <i class="fa-solid fa-road mr-5"></i> {{ voiture.kilometrage }} km<br>
                <i class="fa-solid fa-euro-sign mr-5"></i>
                {{ voiture.prix | number_format(0, '.', ' ') }} €
            </p>
            {#  #}
            <a href="{{ path('voiture_show', {'id': voiture.id}) }}"
               class="btn btn-primary btn-small">
                Voir les détails
            </a>
        </div>
    {% else %}
        <p>Aucune voiture disponible pour le moment.</p>
    {% endfor %}

</div>

{% endblock %}
